/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-mar-2019, 9.35.05
    Author     : miche
*/

body {
    font-size: 14px;
    font-family: "Open Sans", Ariol, sans-serif;
}